<h1>Update Pet</h1>
<form action="/pets/<%=@pet.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <input type="text" name="pet_name" value="<%=@pet.name%>">

</form>
